# Default values for fullstack-cluster-setup.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

global:
  namespaceOverride: ""
  nameOverride: ""
  fullnameOverride: ""

# cloud configuration
cloud:
  minio:
    enabled: false
  prometheusStack:
    enabled: false
  grafanaAgent:
    enabled: false
  certManager:
    enabled: false

cert-manager:
  namespace: cert-manager
  installCRDs: false

minio-operator:
  operator:
    replicaCount: 1

prometheus-stack:
  prometheus:
    prometheusSpec:
      scrapeInterval: 5s
      podMonitorNamespaceSelector:
        any: true # fetch metrics from other namespaces
      podMonitorSelector: { }
      podMonitorSelectorNilUsesHelmValues: false
      ruleNamespaceSelector:
        any: true # fetch metrics from other namespaces
      ruleSelector: { }
      ruleSelectorNilUsesHelmValues: false
      serviceMonitorNamespaceSelector:
        any: true  # fetch metrics from other namespaces
      serviceMonitorSelector: { }
      serviceMonitorSelectorNilUsesHelmValues: false
