###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below.
*                                               @hashgraph/release-engineering @hashgraph/release-engineering-managers

############################
#####  Project Files  ######
############################

/build-logic/**                                 @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/devops-ci
/charts/**                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/devops-ci
/docker/**                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/devops-ci
/fullstack-core/**                              @hashgraph/release-engineering
/fullstack-examples/**                          @hashgraph/release-engineering
/fullstack-gradle-plugin/**                     @hashgraph/release-engineering @hashgraph/devops-ci

#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hashgraph/release-engineering-managers @hashgraph/devops-ci
/.github/workflows/                             @hashgraph/release-engineering-managers @hashgraph/devops-ci

# Codacy Tool Configurations
/config/                                        @hashgraph/release-engineering-managers
.remarkrc                                       @hashgraph/release-engineering-managers

# Semantic Release Configuration
.releaserc                                      @hashgraph/release-engineering-managers

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                     @hashgraph/release-engineering-managers

# Protect the repository root files
/README.md                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/devops-ci
**/LICENSE                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers

# CodeCov configuration
**/codecov.yml                                  @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Git Ignore definitions
**/.gitignore                                   @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/devops-ci
**/.gitignore.*                                 @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/devops-ci