[Unit]
Description=Hedera Network Node
After=network.target

[Service]
Type=simple
Restart=no
User=hedera
Group=hedera

PassEnvironment=JAVA_HOME JAVA_OPTS JAVA_HEAP_MIN JAVA_HEAP_MAX PATH APP_HOME
EnvironmentFile=/etc/network-node/application.env

WorkingDirectory=/opt/hgcapp/services-hedera/HapiApp2.0
ExecStart=/usr/bin/bash /opt/hgcapp/services-hedera/HapiApp2.0/entrypoint.sh

[Install]
WantedBy=multi-user.target
