global
    log stdout local0 debug
    maxconn 100000
    ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS
    ssl-default-bind-options ssl-min-ver TLSv1.1
    stats socket 0.0.0.0:9090
defaults
    log global
    maxconn 100000
    timeout connect 10s
    timeout client 30s
    timeout server 30s
frontend fe_proxy
    mode tcp
    option tcplog
    option logasap
    # Read the blacklist of OFAC Sanctioned Country IP List
    # Log & Reject the Traffic
    acl ofac_ip src -f /var/opt/ofac/ofacBlock.acl
    tcp-request connection reject if ofac_ip
    acl ofac_ip_xff hdr_ip(x-forwarded-for) -f /var/opt/ofac/ofacBlock.acl
    http-request deny if ofac_ip_xff
    bind *:50211
    default_backend be_servers
frontend fe_proxy_tls
    mode tcp
    option tcplog
    # Read the blacklist of OFAC Sanctioned Country IP List
    # Log & Reject the Traffic
    acl ofac_ip src -f /var/opt/ofac/ofacBlock.acl
    tcp-request connection reject if ofac_ip
    bind *:50212
    default_backend be_servers_tls
backend be_servers
    mode tcp
    # Health Checks: Poll the server with regular health checks every 10 seconds
    # Health Checks: Observe all Layer 4 TCP connections for problems.
    # Health Checks: 5 connections must fail before on-error parameter is invoked and marks server down.
    # Health Checks: Revive the server with regular health checks by polling the server every 10 seconds.
    server server1 network-{{ .nodeConfig.name }}-svc:50211 check inter 10s downinter 10s observe layer4 error-limit 5 on-error mark-down
backend be_servers_tls
    mode tcp
    option ssl-hello-chk
    # Health Checks: Poll the server with regular health checks every 10 seconds
    # Health Checks: Observe all Layer 4 TCP connections for problems.
    # Health Checks: 5 connections must fail before on-error parameter is invoked and marks server down.
    # Health Checks: Revive the server with regular health checks by polling the server every 10 seconds.
    server server1 network-{{ .nodeConfig.name }}-svc:50212 check inter 10s downinter 10s observe layer4 error-limit 5 on-error mark-down
listen stats
    mode http
    bind 0.0.0.0:9090
    http-request use-service prometheus-exporter if { path /metrics }
    stats enable
    stats uri /stats
    stats refresh 10s
    # TODO: this stats auth changes on helm upgrade: https://github.com/hashgraph/full-stack-testing/issues/794
    stats auth {{ randAlpha 4 | trunc 4 }}:{{ randAlphaNum 10 | trunc 12 }}
