{{- if $.Values.telemetry.prometheus.svcMonitor.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: network-node-monitor
  namespace: {{ default $.Release.Namespace $.Values.global.namespaceOverride }}
  labels:
    fullstack.hedera.com/type: network-node-svc-monitor
    {{- include "fullstack.testLabels" $ | nindent 4 }}
spec:
  selector:
    matchLabels:
      fullstack.hedera.com/prometheus-endpoint: active
  endpoints:
    - port: prometheus # must match the prometheus port-name in network-node-svc.yaml
      interval: 5s
{{- end }}
