USER="${USER:-changeme}"
NAMESPACE="${NAMESPACE:-fst-${USER}}"

TOTAL_NODES=3

LOG_DIR="${LOG_DIR:-/tmp/fullstack-testing-logs}"
LOG_FILE="${LOG_FILE:-helm-test.log}"
OUTPUT_LOG="${OUTPUT_LOG:-false}"
