###############################################################################################
# Configuration file
###############################################################################################
swirld, hedera
app, HederaNode.jar
###################################### ADDRESS BOOK ###########################################
# Format:
# address, <NODE_ID>, <NODE_NAME>, <NODE_STAKE_AMOUNT>, <INTERNAL_IP>, <INTERNAL_PORT>, <EXTERNAL_IP>, <EXTERNAL_PORT>, <ACCOUNT_ID>
#
# Example:
# address, 0, node0, 1, <POD_IP>, 50211, <POD_IP>, 50211, 0.0.0
##############################################################################################
